In [1]:
import numpy as np
import pandas as pd
from statsmodels.api import OLS, add_constant

In [2]:
xls = pd.ExcelFile('./bank_datastream0816.xlsx')
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    df.to_csv(f'{sheet_name}.csv', index=False)

In [3]:
stock_data=pd.read_csv("./share price daily.csv")
market_data=pd.read_csv("./market indices_daily.csv")
riskfree_data=pd.read_csv("./EONIA.csv")

In [4]:
stock_data.head()

,Date,EBS,OBS.VI,RBI.VI,ARLN.HM,CBK.DE,PBB.BE,MBK.DE,BBVA.MC,UNIE.XC,...,ISP.MI,UCG.MI,ABN.AS,VLK.AS,AZA.ST,HOFI.ST,SEB-A.ST,SHB-A.ST,TFBANK.ST,NLB.IL
0,2019-01-02,57.700001,42.317120,15.009684,20.131157,5.346076,4.841865,7.301744,3.424062,0.962672,...,1.291749,8.020234,12.378850,10.646761,69.065323,42.700001,70.079155,74.827446,68.548180,9.270435
1,2019-01-03,57.540001,42.411366,15.284290,20.079140,5.380388,4.863699,7.260255,3.433240,0.958453,...,1.288361,7.906972,12.481354,10.517239,69.483315,42.849998,70.615601,74.888100,70.479111,9.224634
2,2019-01-04,58.790001,42.411366,15.706250,20.041981,5.696608,4.858240,7.260255,3.561362,0.968578,...,1.354629,8.378076,12.855190,10.672668,70.962372,43.099998,72.615067,76.419518,71.637665,9.296197
3,2019-01-07,61.549999,42.411366,16.000950,20.651340,5.732775,5.092965,7.343231,3.548881,0.983765,...,1.377532,8.599673,12.963724,10.776285,71.219597,45.349998,71.265839,75.600746,71.444580,9.039998
4,2019-01-08,62.700001,42.411366,16.027742,21.008039,5.870019,5.142092,7.260255,3.578984,0.976171,...,1.361609,8.458508,12.945635,10.750380,70.126381,44.450001,72.029877,75.085220,72.410034,9.031410

In [5]:
market_data

           Date  STOXX EUROPE 50  S&P EUROPE 350
0    2019-01-02          2993.18        1365.754
1    2019-01-03          2954.66        1354.539
2    2019-01-04          3041.85        1392.493
3    2019-01-07          3033.64        1387.646
4    2019-01-08          3054.94        1399.540
..          ...              ...             ...
506  2020-12-24          3543.28        1574.632
507  2020-12-28          3575.41        1584.307
508  2020-12-29          3581.37        1596.413
509  2020-12-30          3571.59        1591.411
510  2020-12-31          3552.64        1585.575

[511 rows x 3 columns]

In [6]:
# Parameters
event_date = '2020-03-27'
estimation_window_start = -250  # Start of the estimation window
estimation_window_end = -4     # End of the estimation window
event_window_start = -3  #  days before the event
event_window_end = 3     #  days after the event
bankname = stock_data.iloc[0:0,1:]
marketindex = market_data.iloc[0:0,1:]
riskfreeindex = riskfree_data.iloc[0:0,1:]
bank_list = bankname.columns[0:].tolist()  # Convert the first row of stock_data to a list
market_list = marketindex.columns[0:].tolist() 
riskfree_list = riskfreeindex.columns[0:].tolist()

In [7]:
print(bank_list)

['EBS', 'OBS.VI', 'RBI.VI', 'ARLN.HM', 'CBK.DE', 'PBB.BE', 'MBK.DE', 'BBVA.MC', 'UNIE.XC', 'AKTIA.HE', 'NDA-SE.ST', 'OMASP.HE', 'BNP.PA', 'CCN.PA', 'LLOY.L', 'MTRO.L', 'STB.L', 'STAN.L', 'TATT.AT', 'BIRG.IR', 'ARION.IC', 'BGN.MI', 'BMED.MI', 'BDB.MI', 'FBK.MI', 'ILTY.MI', 'ISP.MI', 'UCG.MI', 'ABN.AS', 'VLK.AS', 'AZA.ST', 'HOFI.ST', 'SEB-A.ST', 'SHB-A.ST', 'TFBANK.ST', 'NLB.IL']

In [8]:
print(market_list)

['STOXX EUROPE 50', 'S&P EUROPE 350']

In [9]:
print(riskfree_list)

['EONIARATE']

In [10]:
# Clean up column names
stock_data.columns = stock_data.columns.str.strip()
market_data.columns = market_data.columns.str.strip()
riskfree_data.columns = riskfree_data.columns.str.strip()

# Convert 'Date' column to datetime
date_column_name = 'Date'
stock_data[date_column_name] = pd.to_datetime(stock_data[date_column_name])
market_data[date_column_name] = pd.to_datetime(market_data[date_column_name])
riskfree_data[date_column_name] = pd.to_datetime(riskfree_data[date_column_name])

# Set Date as index if it's not already
stock_data.set_index(date_column_name, inplace=True)
market_data.set_index(date_column_name, inplace=True)
riskfree_data.set_index(date_column_name, inplace=True)

In [11]:
# Initialize an empty DataFrame to store daily returns
bank_daily_returns = pd.DataFrame()
market_daily_returns = pd.DataFrame()

selected_metric = 'EONIARATE'
riskfree_data_series = pd.to_numeric(riskfree_data[selected_metric], errors='coerce')
    
# Iterate over each column to calculate daily returns
for column in stock_data.columns:
    if column != date_column_name:  # Skip the Date column
        # Ensure the column data is numeric
        stock_data[column] = pd.to_numeric(stock_data[column], errors='coerce')
        
        # Calculate daily returns for this column
        bank_daily_returns[column] = stock_data[column].pct_change()
      
        # Calculate excess returns by subtracting the risk-free rate
        bank_daily_returns[column] = bank_daily_returns[column] - riskfree_data_series

# If the Date column was reset earlier, there's no need to add it back again
if date_column_name not in bank_daily_returns.columns:
    bank_daily_returns.reset_index(inplace=True)

# Reorder columns so that Date appears first
bank_daily_returns = bank_daily_returns[[date_column_name] + [col for col in bank_daily_returns.columns if col != date_column_name]]

In [12]:
print(bank_daily_returns)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
0   2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1   2019-01-03  0.363227  0.368227  0.384295  0.363416  0.372418  0.370509
2   2019-01-04  0.386724  0.365000  0.392607  0.363149  0.423773  0.363878
3   2019-01-07  0.411947  0.365000  0.383763  0.395404  0.371349  0.413315
4   2019-01-08  0.380684  0.362000  0.363674  0.379272  0.385940  0.371646
..         ...       ...       ...       ...       ...       ...       ...
506 2020-12-24  0.457166  0.470000  0.470000  0.470000  0.470000  0.470000
507 2020-12-28  0.450097  0.468000  0.469186  0.481882  0.467627  0.448833
508 2020-12-29  0.450082  0.472000  0.469038  0.473521  0.457075  0.470883
509 2020-12-30  0.498400  0.472375  0.461087  0.459873  0.467348  0.461615
510 2020-12-31  0.464559  0.498000  0.498000  0.498000  0.498000  0.498000

       MBK.DE   BBVA.MC   UNIE.XC  ...    ISP.MI    UCG.MI    ABN.AS  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1    0.360318  0.368680  0.361618  ...  0.363377  0.351878  0.374281
2    0.365000  0.402318  0.375563  ...  0.416436  0.424581  0.394952
3    0.376429  0.361495  0.380679  ...  0.381907  0.391450  0.373443
4    0.350700  0.370482  0.354281  ...  0.350441  0.345585  0.360605
..        ...       ...       ...  ...       ...       ...       ...
506  0.470000  0.474656  0.481021  ...  0.470000  0.470000  0.487413
507  0.468000  0.462634  0.468000  ...  0.472914  0.468910  0.457242
508  0.472000  0.469548  0.500343  ...  0.470647  0.471610  0.464091
509  0.460196  0.471475  0.492615  ...  0.466250  0.463763  0.461031
510  0.498000  0.488427  0.476576  ...  0.498000  0.498000  0.506044

       VLK.AS    AZA.ST   HOFI.ST  SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL
0         NaN       NaN       NaN       NaN       NaN        NaN       NaN
1    0.353835  0.372052  0.369513  0.373655  0.366811   0.394169  0.361059
2    0.379778  0.386287  0.370834  0.393315  0.385449   0.381438  0.372758
3    0.374709  0.368625  0.417204  0.346419  0.354286   0.362305  0.337440
4    0.359596  0.346650  0.342154  0.372721  0.355181   0.375513  0.361050
..        ...       ...       ...       ...       ...        ...       ...
506  0.481710  0.470000  0.470000  0.470000  0.470000   0.470000  0.470000
507  0.458741  0.491936  0.484760  0.476469  0.470884   0.472684  0.468000
508  0.464991  0.492779  0.478593  0.468034  0.469124   0.474331  0.539442
509  0.467647  0.458125  0.465087  0.459461  0.462550   0.479302  0.467821
510  0.488566  0.498000  0.498000  0.498000  0.498000   0.498000  0.480533

[511 rows x 37 columns]

In [13]:
market_daily_returns = pd.DataFrame(index=market_data.index)
for column in market_data.columns:
    if column != date_column_name:  # Skip the Date column
        # Ensure the column data is numeric
        market_data[column] = pd.to_numeric(market_data[column], errors='coerce')
        
        # Calculate daily returns for this column
        market_daily_returns[column] = market_data[column].pct_change()
        
        # Calculate excess returns by subtracting the risk-free rate
        market_daily_returns[column] = market_daily_returns[column] - riskfree_data_series
        
print(market_daily_returns)

            STOXX EUROPE 50  S&P EUROPE 350
Date
2019-01-02              NaN             NaN
2019-01-03         0.353131        0.357788
2019-01-04         0.394509        0.393020
2019-01-07         0.362301        0.361519
2019-01-08         0.369021        0.370571
...                     ...             ...
2020-12-24         0.471136        0.471388
2020-12-28         0.477068        0.474144
2020-12-29         0.473667        0.479641
2020-12-30         0.467269        0.466867
2020-12-31         0.492694        0.494333

[511 rows x 2 columns]

In [14]:
# Merge the two DataFrames on the Data column
merged_data=pd.merge(bank_daily_returns, market_daily_returns, on=date_column_name, suffixes=('_stock', '_market'))
print(merged_data)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
0   2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1   2019-01-03  0.363227  0.368227  0.384295  0.363416  0.372418  0.370509
2   2019-01-04  0.386724  0.365000  0.392607  0.363149  0.423773  0.363878
3   2019-01-07  0.411947  0.365000  0.383763  0.395404  0.371349  0.413315
4   2019-01-08  0.380684  0.362000  0.363674  0.379272  0.385940  0.371646
..         ...       ...       ...       ...       ...       ...       ...
506 2020-12-24  0.457166  0.470000  0.470000  0.470000  0.470000  0.470000
507 2020-12-28  0.450097  0.468000  0.469186  0.481882  0.467627  0.448833
508 2020-12-29  0.450082  0.472000  0.469038  0.473521  0.457075  0.470883
509 2020-12-30  0.498400  0.472375  0.461087  0.459873  0.467348  0.461615
510 2020-12-31  0.464559  0.498000  0.498000  0.498000  0.498000  0.498000

       MBK.DE   BBVA.MC   UNIE.XC  ...    ABN.AS    VLK.AS    AZA.ST  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1    0.360318  0.368680  0.361618  ...  0.374281  0.353835  0.372052
2    0.365000  0.402318  0.375563  ...  0.394952  0.379778  0.386287
3    0.376429  0.361495  0.380679  ...  0.373443  0.374709  0.368625
4    0.350700  0.370482  0.354281  ...  0.360605  0.359596  0.346650
..        ...       ...       ...  ...       ...       ...       ...
506  0.470000  0.474656  0.481021  ...  0.487413  0.481710  0.470000
507  0.468000  0.462634  0.468000  ...  0.457242  0.458741  0.491936
508  0.472000  0.469548  0.500343  ...  0.464091  0.464991  0.492779
509  0.460196  0.471475  0.492615  ...  0.461031  0.467647  0.458125
510  0.498000  0.488427  0.476576  ...  0.506044  0.488566  0.498000

      HOFI.ST  SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL  STOXX EUROPE 50  \
0         NaN       NaN       NaN        NaN       NaN              NaN
1    0.369513  0.373655  0.366811   0.394169  0.361059         0.353131
2    0.370834  0.393315  0.385449   0.381438  0.372758         0.394509
3    0.417204  0.346419  0.354286   0.362305  0.337440         0.362301
4    0.342154  0.372721  0.355181   0.375513  0.361050         0.369021
..        ...       ...       ...        ...       ...              ...
506  0.470000  0.470000  0.470000   0.470000  0.470000         0.471136
507  0.484760  0.476469  0.470884   0.472684  0.468000         0.477068
508  0.478593  0.468034  0.469124   0.474331  0.539442         0.473667
509  0.465087  0.459461  0.462550   0.479302  0.467821         0.467269
510  0.498000  0.498000  0.498000   0.498000  0.480533         0.492694

     S&P EUROPE 350
0               NaN
1          0.357788
2          0.393020
3          0.361519
4          0.370571
..              ...
506        0.471388
507        0.474144
508        0.479641
509        0.466867
510        0.494333

[511 rows x 39 columns]

In [15]:
def find_data_in_relevent_days(origin_data, start, end):
    res_index = origin_data.index[origin_data['Date'] == event_date].tolist()[0]
    res_index_position = origin_data.index.get_loc(res_index) # true index: 3
    res_data = origin_data.iloc[res_index_position+start: res_index_position+end+1]
    return res_data


estimation_data = find_data_in_relevent_days(merged_data, start=estimation_window_start, end=estimation_window_end)
event_data = find_data_in_relevent_days(merged_data, start=event_window_start, end=event_window_end)

print(estimation_data)
print(event_data)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
66  2019-04-04  0.386493  0.370123  0.376395  0.385731  0.396044  0.377786
67  2019-04-05  0.386158  0.368000  0.371238  0.368000  0.384610  0.353903
68  2019-04-08  0.360989  0.372119  0.359396  0.366864  0.345956  0.365532
69  2019-04-09  0.359855  0.368000  0.382446  0.348776  0.375214  0.370693
70  2019-04-10  0.387817  0.367000  0.364703  0.368425  0.343622  0.357152
..         ...       ...       ...       ...       ...       ...       ...
308 2020-03-17  0.451056  0.422958  0.450882  0.442074  0.494951  0.375630
309 2020-03-18  0.408267  0.422774  0.354931  0.408524  0.429556  0.333774
310 2020-03-19  0.396208  0.441000  0.473000  0.388501  0.512992  0.403687
311 2020-03-20  0.368190  0.439000  0.556571  0.444309  0.421272  0.442101
312 2020-03-23  0.445472  0.440000  0.426898  0.271353  0.410021  0.390541

       MBK.DE   BBVA.MC   UNIE.XC  ...    ABN.AS    VLK.AS    AZA.ST  \
66   0.373650  0.383703  0.363368  ...  0.375748  0.394379  0.379084
67   0.368000  0.367454  0.372654  ...  0.372806  0.365664  0.368953
68   0.353146  0.369625  0.343237  ...  0.363783  0.367658  0.348095
69   0.368000  0.370438  0.375932  ...  0.383399  0.353916  0.369460
70   0.367000  0.357273  0.344964  ...  0.354204  0.383667  0.362625
..        ...       ...       ...  ...       ...       ...       ...
308  0.410286  0.515194  0.450166  ...  0.519028  0.363832  0.470896
309  0.481037  0.404461  0.381759  ...  0.378289  0.344952  0.434251
310  0.399333  0.476075  0.357814  ...  0.442675  0.500197  0.503500
311  0.525957  0.468427  0.391510  ...  0.474386  0.570737  0.466360
312  0.434286  0.404830  0.445472  ...  0.464220  0.406490  0.394727

      HOFI.ST  SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL  STOXX EUROPE 50  \
66   0.330191  0.372906  0.376281   0.370227  0.353413         0.369854
67   0.381602  0.364048  0.353507   0.376889  0.368000         0.369610
68   0.367515  0.370934  0.365098   0.370000  0.370000         0.367270
69   0.399390  0.385253  0.383271   0.370203  0.358132         0.361938
70   0.344778  0.376626  0.376219   0.358209  0.363678         0.369174
..        ...       ...       ...        ...       ...              ...
308  0.349475  0.511906  0.515113   0.384575  0.473883         0.478701
309  0.363658  0.402680  0.404912   0.381173  0.344123         0.386826
310  0.530219  0.463326  0.508536   0.457760  0.413603         0.469611
311  0.413403  0.422015  0.409933   0.428011  0.440409         0.477475
312  0.317408  0.397729  0.389434   0.359444  0.368270         0.415295

     S&P EUROPE 350
66         0.365309
67         0.369238
68         0.368458
69         0.363333
70         0.369202
..              ...
308        0.473015
309        0.398805
310        0.476638
311        0.455290
312        0.397129

[247 rows x 39 columns]
          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
313 2020-03-24  0.569192  0.442000  0.547818  0.544025  0.551587  0.546065
314 2020-03-25  0.420541  0.442000  0.445531  0.599421  0.496284  0.513429
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073
318 2020-03-31  0.498651  0.437000  0.410081  0.440973  0.428162  0.471049
319 2020-04-01  0.380991  0.444398  0.411720  0.429467  0.378980  0.390461

       MBK.DE   BBVA.MC   UNIE.XC  ...    ABN.AS    VLK.AS    AZA.ST  \
313  0.424759  0.552074  0.444620  ...  0.592552  0.487620  0.488025
314  0.436152  0.497807  0.477384  ...  0.453646  0.478649  0.476667
315  0.432235  0.448903  0.446913  ...  0.407206  0.455784  0.451732
316  0.409286  0.391638  0.454681  ...  0.400003  0.385100  0.468018
317  0.467691  0.383570  0.469846  ...  0.343614  0.421761  0.454250
318  0.437000  0.435459  0.421127  ...  0.456618  0.449658  0.460486
319  0.454048  0.377346  0.369514  ...  0.366639  0.440214  0.448643

      HOFI.ST  SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL  STOXX EUROPE 50  \
313  0.553776  0.484204  0.479626   0.523571  0.514727         0.534362
314  0.478804  0.517734  0.533164   0.419654  0.403864         0.473317
315  0.511532  0.437678  0.451021   0.435429  0.471900         0.461013
316  0.383362  0.399887  0.408746   0.398890  0.447857         0.403167
317  0.442136  0.443606  0.404177   0.436958  0.475763         0.456549
318  0.503609  0.453647  0.479900   0.476514  0.468724         0.444694
319  0.415236  0.402703  0.411449   0.403988  0.458043         0.403750

     S&P EUROPE 350
313        0.526917
314        0.475059
315        0.468125
316        0.411393
317        0.456217
318        0.453238
319        0.412483

[7 rows x 39 columns]

In [16]:
# Market model: Regress stock returns on market returns
# Perform multivariate regression for all banks against the market indices
stoxx = market_list[0]
sp = market_list[1]


# Perform OLS regression for each bank against the market indices
results = {}
cumulative_abnormal_returns = pd.DataFrame()

for bank in bank_list:
    X = estimation_data[stoxx]  # Independent variables (market returns)
    X = add_constant(X)  # Add a constant (intercept)
    y = estimation_data[bank]  # Dependent variable (bank returns)
    
    
    model = OLS(y, X).fit()  # Fit the model
    
#     print(model.summary())
    
#     results = {}
    
    # Predict expected returns during the event window
    event_data[f'Expected_{bank}'] = model.predict(add_constant(event_data[toxx]))
    
    # Calculate abnormal returns
    event_data[f'Abnormal_{bank}'] = event_data[bank] - event_data[f'Expected_{bank}']
    
    # Calculate cumulative abnormal returns (CAR)
    event_data[f'CAR_{bank}'] = event_data[f'Abnormal_{bank}'].cumsum()
    
    # Save CAR
    cumulative_abnormal_returns[f'CAR_{bank}'] = event_data[f'CAR_{bank}']
    
    print(f"Abnormal Returns (AR) for {bank}:")
    print(event_data[f'Abnormal_{bank}'])
    
# Calculate the CAAR (Cumulative Average Abnormal Returns)
cumulative_abnormal_returns['CAAR'] = cumulative_abnormal_returns.mean(axis=1)




#     # Print the summary for each bank
#     print(f"Regression results for {bank}:")
#     print(model.summary())
#     print("\n" + "="*80 + "\n")
    
    # Display the results
# print("Estimation Start Date:", estimation_start_date)
# print("Estimation End Date:", estimation_end_date)

Abnormal Returns (AR) for EBS:
313    0.037467
314   -0.052266
315    0.030949
316   -0.066832
317    0.050415
318    0.053471
319   -0.024671
Name: Abnormal_EBS, dtype: float64
Abnormal Returns (AR) for OBS.VI:
313   -0.083816
314   -0.027382
315   -0.014007
316    0.045290
317   -0.010879
318   -0.005920
319    0.039330
Name: Abnormal_OBS.VI, dtype: float64
Abnormal Returns (AR) for RBI.VI:
313    0.014202
314   -0.027170
315    0.036356
316    0.002527
317   -0.056129
318   -0.034058
319    0.008438
Name: Abnormal_RBI.VI, dtype: float64
Abnormal Returns (AR) for ARLN.HM:
313    0.011087
314    0.127468
315   -0.085067
316    0.057509
317   -0.016487
318   -0.002385
319    0.027013
Name: Abnormal_ARLN.HM, dtype: float64
Abnormal Returns (AR) for CBK.DE:
313    0.011894
314    0.021037
315    0.008835
316   -0.015245
317   -0.083443
318   -0.016868
319   -0.022824
Name: Abnormal_CBK.DE, dtype: float64
Abnormal Returns (AR) for PBB.BE:
313    0.014712
314    0.041774
315   -0.027307
316    0.013435
317   -0.045184
318    0.027385
319   -0.013162
Name: Abnormal_PBB.BE, dtype: float64
Abnormal Returns (AR) for MBK.DE:
313   -0.104005
314   -0.035070
315   -0.027389
316    0.004188
317    0.012276
318   -0.007242
319    0.048401
Name: Abnormal_MBK.DE, dtype: float64
Abnormal Returns (AR) for BBVA.MC:
313    0.014667
314    0.023461
315   -0.012733
316   -0.010242
317   -0.073454
318   -0.009319
319   -0.025136
Name: Abnormal_BBVA.MC, dtype: float64
Abnormal Returns (AR) for UNIE.XC:
313   -0.092456
314    0.003225
315   -0.014565
316    0.052823
317    0.012970
318   -0.023531
319   -0.032943
Name: Abnormal_UNIE.XC, dtype: float64
Abnormal Returns (AR) for AKTIA.HE:
313   -0.048853
314   -0.014897
315    0.006338
316    0.034649
317   -0.011979
318    0.019460
319    0.015961
Name: Abnormal_AKTIA.HE, dtype: float64
Abnormal Returns (AR) for NDA-SE.ST:
313   -0.034511
314    0.020310
315    0.002112
316    0.017904
317   -0.030066
318    0.022366
319    0.009578
Name: Abnormal_NDA-SE.ST, dtype: float64
Abnormal Returns (AR) for OMASP.HE:
313   -0.071763
314   -0.044302
315    0.032412
316   -0.031162
317   -0.010284
318    0.005573
319    0.014255
Name: Abnormal_OMASP.HE, dtype: float64
Abnormal Returns (AR) for BNP.PA:
313   -0.001332
314    0.048051
315    0.015320
316    0.006827
317   -0.068199
318   -0.033942
319   -0.020712
Name: Abnormal_BNP.PA, dtype: float64
Abnormal Returns (AR) for CCN.PA:
313   -0.087040
314    0.014065
315   -0.014207
316    0.065889
317   -0.020094
318    0.010015
319    0.021207
Name: Abnormal_CCN.PA, dtype: float64
Abnormal Returns (AR) for LLOY.L:
313    0.009846
314    0.061889
315    0.007076
316   -0.041041
317   -0.038086
318   -0.051007
319   -0.076919
Name: Abnormal_LLOY.L, dtype: float64
Abnormal Returns (AR) for MTRO.L:
313   -0.012753
314    0.143672
315    0.037902
316   -0.082673
317   -0.025214
318   -0.021792
319   -0.029882
Name: Abnormal_MTRO.L, dtype: float64
Abnormal Returns (AR) for STB.L:
313   -0.138442
314    0.100966
315   -0.062679
316    0.238191
317   -0.037660
318    0.007751
319    0.070066
Name: Abnormal_STB.L, dtype: float64
Abnormal Returns (AR) for STAN.L:
313   -0.019127
314    0.020955
315    0.000409
316    0.012043
317   -0.036289
318   -0.028024
319   -0.034473
Name: Abnormal_STAN.L, dtype: float64
Abnormal Returns (AR) for TATT.AT:
313   -0.020282
314   -0.029498
315    0.054345
316   -0.032323
317    0.035902
318   -0.002840
319   -0.020400
Name: Abnormal_TATT.AT, dtype: float64
Abnormal Returns (AR) for BIRG.IR:
313   -0.025047
314    0.080441
315    0.049428
316   -0.020349
317   -0.093220
318   -0.044394
319    0.007436
Name: Abnormal_BIRG.IR, dtype: float64
Abnormal Returns (AR) for ARION.IC:
313   -0.086628
314    0.010791
315    0.023042
316    0.086914
317   -0.037524
318   -0.025777
319    0.043369
Name: Abnormal_ARION.IC, dtype: float64
Abnormal Returns (AR) for BGN.MI:
313   -0.010310
314   -0.021705
315    0.024285
316    0.006646
317   -0.016828
318    0.017024
319    0.026599
Name: Abnormal_BGN.MI, dtype: float64

/Users/klara/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'Expected_{bank}'] = model.predict(add_constant(event_data[stoxx]))
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'Abnormal_{bank}'] = event_data[bank] - event_data[f'Expected_{bank}']
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'CAR_{bank}'] = event_data[f'Abnormal_{bank}'].cumsum()

Abnormal Returns (AR) for BMED.MI:
313    0.031416
314    0.000239
315    0.039250
316    0.007918
317   -0.061530
318   -0.022059
319    0.035190
Name: Abnormal_BMED.MI, dtype: float64
Abnormal Returns (AR) for BDB.MI:
313   -0.110817
314   -0.027448
315   -0.013053
316    0.006991
317    0.023984
318   -0.003646
319    0.067463
Name: Abnormal_BDB.MI, dtype: float64
Abnormal Returns (AR) for FBK.MI:
313    0.004024
314   -0.047694
315    0.073657
316   -0.022177
317    0.004210
318   -0.023934
319    0.037997
Name: Abnormal_FBK.MI, dtype: float64
Abnormal Returns (AR) for ILTY.MI:
313    0.056658
314   -0.028322
315    0.002649
316    0.010592
317   -0.029797
318    0.042220
319    0.010107
Name: Abnormal_ILTY.MI, dtype: float64
Abnormal Returns (AR) for ISP.MI:
313   -0.001591
314   -0.011920
315   -0.008826
316    0.002403
317   -0.075591
318    0.003591
319    0.002284
Name: Abnormal_ISP.MI, dtype: float64
Abnormal Returns (AR) for UCG.MI:
313    0.002084
314   -0.025831
315   -0.034499
316   -0.010896
317   -0.089965
318   -0.026463
319   -0.001308
Name: Abnormal_UCG.MI, dtype: float64
Abnormal Returns (AR) for ABN.AS:
313    0.060616
314   -0.017354
315   -0.051513
316   -0.000972
317   -0.110648
318    0.014190
319   -0.034918
Name: Abnormal_ABN.AS, dtype: float64
Abnormal Returns (AR) for VLK.AS:
313   -0.045815
314    0.006085
315   -0.004511
316   -0.017515
317   -0.034083
318    0.005635
319    0.037019
Name: Abnormal_VLK.AS, dtype: float64
Abnormal Returns (AR) for AZA.ST:
313   -0.049156
314    0.001362
315   -0.011101
316    0.063819
317   -0.004058
318    0.014194
319    0.043853
Name: Abnormal_AZA.ST, dtype: float64
Abnormal Returns (AR) for HOFI.ST:
313    0.028435
314    0.010607
315    0.054853
316   -0.019169
317   -0.010365
318    0.062205
319    0.012161
Name: Abnormal_HOFI.ST, dtype: float64
Abnormal Returns (AR) for SEB-A.ST:
313   -0.049344
314    0.044782
315   -0.023061
316   -0.003433
317   -0.012702
318    0.009106
319   -0.001195
Name: Abnormal_SEB-A.ST, dtype: float64
Abnormal Returns (AR) for SHB-A.ST:
313   -0.056042
314    0.059130
315   -0.010591
316    0.005537
317   -0.052928
318    0.034764
319    0.007652
Name: Abnormal_SHB-A.ST, dtype: float64
Abnormal Returns (AR) for TFBANK.ST:
313   -0.005635
314   -0.051240
315   -0.023712
316   -0.004993
317   -0.017918
318    0.032962
319   -0.000451
Name: Abnormal_TFBANK.ST, dtype: float64
Abnormal Returns (AR) for NLB.IL:
313   -0.019845
314   -0.069284
315    0.011132
316    0.045293
317    0.019487
318    0.024376
319    0.054893
Name: Abnormal_NLB.IL, dtype: float64

/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:27: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  event_data[f'Abnormal_{bank}'] = event_data[bank] - event_data[f'Expected_{bank}']
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  event_data[f'CAR_{bank}'] = event_data[f'Abnormal_{bank}'].cumsum()
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_49361/2429191562.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  event_data[f'Expected_{bank}'] = model.predict(add_constant(event_data[stoxx]))

In [17]:
# Display CAAR for the event window
print(cumulative_abnormal_returns['CAAR'])

313   -0.024375
314   -0.015794
315   -0.013807
316   -0.002463
317   -0.031668
318   -0.031026
319   -0.022657
Name: CAAR, dtype: float64

In [18]:
print(event_data[['Date'] +[f'CAR_{bank}' for bank in bank_list]])

          Date   CAR_EBS  CAR_OBS.VI  CAR_RBI.VI  CAR_ARLN.HM  CAR_CBK.DE  \
313 2020-03-24  0.037467   -0.083816    0.014202     0.011087    0.011894
314 2020-03-25 -0.014799   -0.111198   -0.012968     0.138555    0.032931
315 2020-03-26  0.016150   -0.125205    0.023389     0.053488    0.041766
316 2020-03-27 -0.050682   -0.079915    0.025915     0.110997    0.026521
317 2020-03-30 -0.000267   -0.090794   -0.030213     0.094510   -0.056922
318 2020-03-31  0.053204   -0.096715   -0.064271     0.092125   -0.073790
319 2020-04-01  0.028533   -0.057384   -0.055833     0.119138   -0.096614

     CAR_PBB.BE  CAR_MBK.DE  CAR_BBVA.MC  CAR_UNIE.XC  ...  CAR_ISP.MI  \
313    0.014712   -0.104005     0.014667    -0.092456  ...   -0.001591
314    0.056486   -0.139074     0.038129    -0.089231  ...   -0.013510
315    0.029179   -0.166463     0.025396    -0.103796  ...   -0.022336
316    0.042614   -0.162275     0.015154    -0.050972  ...   -0.019933
317   -0.002570   -0.149999    -0.058300    -0.038003  ...   -0.095524
318    0.024815   -0.157241    -0.067619    -0.061534  ...   -0.091933
319    0.011653   -0.108840    -0.092754    -0.094477  ...   -0.089648

     CAR_UCG.MI  CAR_ABN.AS  CAR_VLK.AS  CAR_AZA.ST  CAR_HOFI.ST  \
313    0.002084    0.060616   -0.045815   -0.049156     0.028435
314   -0.023747    0.043263   -0.039730   -0.047793     0.039042
315   -0.058246   -0.008250   -0.044241   -0.058894     0.093895
316   -0.069142   -0.009222   -0.061756    0.004924     0.074726
317   -0.159107   -0.119870   -0.095839    0.000867     0.064361
318   -0.185570   -0.105680   -0.090204    0.015061     0.126567
319   -0.186878   -0.140598   -0.053184    0.058914     0.138727

     CAR_SEB-A.ST  CAR_SHB-A.ST  CAR_TFBANK.ST  CAR_NLB.IL
313     -0.049344     -0.056042      -0.005635   -0.019845
314     -0.004562      0.003088      -0.056875   -0.089129
315     -0.027623     -0.007503      -0.080587   -0.077998
316     -0.031055     -0.001966      -0.085580   -0.032704
317     -0.043757     -0.054894      -0.103497   -0.013217
318     -0.034651     -0.020130      -0.070535    0.011159
319     -0.035846     -0.012478      -0.070986    0.066052

[7 rows x 37 columns]

In [19]:
from scipy import stats
from scipy.stats import t

windows = {
    'CAR [-1,+1]': [-1, 1],
    'CAR [-1,+3]': [-1, 3],
    'CAR [0,+1]': [0, 1],
}


car_results = pd.DataFrame()
# Assume event_data contains the columns: 'bank', 'days_from_event', and 'Abnormal_Return'

for label, (start, end) in windows.items():

    window_data = find_data_in_relevent_days(event_data, start=start, end=end)

    print(f"{label}-window_data:", window_data)
    
#     assert window_data.equals(window_data2)
    
    # Calculate CAR for each bank
    car_per_bank = {}
    for bank in bank_list:
        if bank in window_data.columns:
            car_per_bank[bank] = window_data[f'Abnormal_{bank}'].sum()

    # Convert to DataFrame for merging
    car_per_bank_df = pd.DataFrame(list(car_per_bank.items()), columns=['Bank', label])
    
    # Merge the results into the car_results DataFrame
    if car_results.empty:
        car_results = car_per_bank_df
    else:
        car_results = pd.merge(car_results, car_per_bank_df, on='Bank', how='outer')
        
# Convert CAR results to percentages and format them to two decimal places
for column in car_results.columns[1:]:  # Skip the 'Bank' column
    car_results[column] = car_results[column] * 100  # Convert to percentage
    car_results[column] = car_results[column].apply(lambda x: f"{x:.2f}%")  # Format to two decimal places

CAR [-1,+1]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
315  0.432235  0.448903  0.446913  ...     -0.027623           0.461612
316  0.409286  0.391638  0.454681  ...     -0.031055           0.403209
317  0.467691  0.383570  0.469846  ...     -0.043757           0.457105

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
315          -0.010591     -0.007503            0.459140           -0.023712
316           0.005537     -0.001966            0.403883           -0.004993
317          -0.052928     -0.054894            0.454875           -0.017918

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
315      -0.080587         0.460769         0.011132   -0.077998
316      -0.085580         0.402564         0.045293   -0.032704
317      -0.103497         0.456276         0.019487   -0.013217

[3 rows x 147 columns]
CAR [-1,+3]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073
318 2020-03-31  0.498651  0.437000  0.410081  0.440973  0.428162  0.471049
319 2020-04-01  0.380991  0.444398  0.411720  0.429467  0.378980  0.390461

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
315  0.432235  0.448903  0.446913  ...     -0.027623           0.461612
316  0.409286  0.391638  0.454681  ...     -0.031055           0.403209
317  0.467691  0.383570  0.469846  ...     -0.043757           0.457105
318  0.437000  0.435459  0.421127  ...     -0.034651           0.445136
319  0.454048  0.377346  0.369514  ...     -0.035846           0.403797

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
315          -0.010591     -0.007503            0.459140           -0.023712
316           0.005537     -0.001966            0.403883           -0.004993
317          -0.052928     -0.054894            0.454875           -0.017918
318           0.034764     -0.020130            0.443552            0.032962
319           0.007652     -0.012478            0.404439           -0.000451

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
315      -0.080587         0.460769         0.011132   -0.077998
316      -0.085580         0.402564         0.045293   -0.032704
317      -0.103497         0.456276         0.019487   -0.013217
318      -0.070535         0.444348         0.024376    0.011159
319      -0.070986         0.403150         0.054893    0.066052

[5 rows x 147 columns]
CAR [0,+1]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
316  0.409286  0.391638  0.454681  ...     -0.031055           0.403209
317  0.467691  0.383570  0.469846  ...     -0.043757           0.457105

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
316           0.005537     -0.001966            0.403883           -0.004993
317          -0.052928     -0.054894            0.454875           -0.017918

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
316      -0.085580         0.402564         0.045293   -0.032704
317      -0.103497         0.456276         0.019487   -0.013217

[2 rows x 147 columns]

In [20]:
import numpy as np
from scipy.stats import t

# Create a copy of car_results to annotate the CAR values
car_results_copy = car_results.copy()

# Define significance levels and markers
alpha_levels = [0.01, 0.05, 0.10]
markers = ["***", "**", "*"]

# Iterate over each bank and window to annotate CAR values with significance markers
for bank in car_results['Bank'].unique():
    for label, (start, end) in windows.items():
        # Get abnormal returns for the specified window
        window_data = find_data_in_relevent_days(event_data, start=start, end=end)

        if f'Abnormal_{bank}' in window_data.columns:
            abnormal_returns = window_data[f'Abnormal_{bank}']

            # Calculate the standard deviation of abnormal returns
            std_dev = abnormal_returns.std(ddof=1)

            # Calculate the number of observations (days in the event window)
            n = len(abnormal_returns)

            if n > 1 and std_dev > 0:
                # Calculate the standard error (SE)
                standard_error = std_dev / np.sqrt(n)

                # Get the CAR value (removing percentage sign and converting to decimal)
                car_value = float(car_results.loc[car_results['Bank'] == bank, label].str.rstrip('%')) / 100

                # Calculate the t-statistic
                t_stat = car_value / standard_error

                # Annotate CAR value with significance markers based on different levels
                annotation = ""
                for alpha, marker in zip(alpha_levels, markers):
                    # Calculate the critical t-value for a two-tailed test
                    critical_value = t.ppf(1 - alpha / 2, df=n - 1)

                    # Determine if the t-statistic is greater than the critical value (significant)
                    if abs(t_stat) > critical_value:
                        annotation = marker
                        break  # Break at the highest significance level

                # Update the CAR value in the copy with the appropriate significance marker
                if annotation:
                    current_value = car_results_copy.loc[car_results_copy['Bank'] == bank, label].values[0]
                    car_results_copy.loc[car_results_copy['Bank'] == bank, label] = f"{current_value}{annotation}"
            else:
                # Detailed message for skipping due to insufficient data or zero variance
                if n <= 1:
                    print(f"Not enough observations for bank {bank} in window {label}. Skipping t-test.")
                elif std_dev == 0:
                    print(f"Zero variance for bank {bank} in window {label}. Skipping t-test.")
        else:
            print(f"No data available for bank {bank} in window {label}. Skipping t-test.")

# Display the annotated CAR results with significance markers
print("CAR Results with Significance Annotations:")
print(car_results_copy)

CAR Results with Significance Annotations:
         Bank CAR [-1,+1] CAR [-1,+3] CAR [0,+1]
0         EBS       1.45%       4.33%     -1.64%
1      OBS.VI       2.04%     5.38%**      3.44%
2      RBI.VI      -1.72%     -4.29%*     -5.36%
3     ARLN.HM      -4.40%      -1.94%      4.10%
4      CBK.DE     -8.99%*  -12.95%***     -9.87%
5      PBB.BE     -5.91%*    -4.48%**     -3.17%
6      MBK.DE      -1.09%      3.02%*      1.65%
7     BBVA.MC    -9.64%**  -13.09%***     -8.37%
8     UNIE.XC       5.12%      -0.52%      6.58%
9    AKTIA.HE       2.90%    6.44%***      2.27%
10  NDA-SE.ST      -1.00%      2.19%*     -1.22%
11   OMASP.HE      -0.90%       1.08%     -4.14%
12     BNP.PA      -4.61%  -10.07%***     -6.14%
13     CCN.PA       3.16%     6.28%**      4.58%
14     LLOY.L    -7.21%**  -20.00%***   -7.91%**
15     MTRO.L      -7.00%  -12.17%***    -10.79%
16      STB.L      13.79%    21.57%**     20.05%
17     STAN.L      -2.38%   -8.63%***     -2.42%
18    TATT.AT       5.79%       3.47%      0.36%
19    BIRG.IR      -6.41%   -10.11%**    -11.36%
20   ARION.IC       7.24%     9.00%**      4.94%
21     BGN.MI       1.41%    5.77%***     -1.02%
22    BMED.MI      -1.44%      -0.12%     -5.36%
23     BDB.MI       1.79%    8.17%***      3.10%
24     FBK.MI       5.57%     6.98%**     -1.80%
25    ILTY.MI      -1.66%     3.58%**     -1.92%
26     ISP.MI     -8.20%*   -7.61%***     -7.32%
27     UCG.MI   -13.54%**  -16.31%***    -10.09%
28     ABN.AS   -16.31%**  -18.39%***    -11.16%
29     VLK.AS    -5.61%**      -1.35%     -5.16%
30     AZA.ST       4.87%   10.67%***      5.98%
31    HOFI.ST       2.53%    9.97%***    -2.95%*
32   SEB-A.ST    -3.92%**   -3.13%***     -1.61%
33   SHB-A.ST     -5.80%*      -1.56%     -4.74%
34  TFBANK.ST    -4.66%**      -1.41%     -2.29%
35     NLB.IL     7.59%**   15.52%***      6.48%

In [21]:
# output_file_path = './Complete_CAR_Results_250_sp_EONIA.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path

In [22]:
# output_file_path = './Complete_CAR_Results_250_stoxx_EONIA.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path

In [23]:
# output_file_path = './Complete_CAR_Results_63_stoxx_EONIA.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path

In [24]:
# output_file_path = './Complete_CAR_Results_63_sp_EONIA.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path