In [1]:
import numpy as np
import pandas as pd
from statsmodels.api import OLS, add_constant

In [2]:
xls = pd.ExcelFile('./bank_datastream0816.xlsx')
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    df.to_csv(f'{sheet_name}.csv', index=False)
xls = pd.ExcelFile('./Europe_3_Factors_Daily.xlsx')
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    df.to_csv(f'{sheet_name}.csv', index=False)

In [3]:
stock_data=pd.read_csv("./share price daily.csv")

ff_factors = pd.read_csv("./Europe_3_Factors_Daily_stoxx.csv")

# ff_factors = pd.read_csv("./Europe_3_Factors_Daily_sp.csv")

riskfree_data = pd.read_csv("./RF.csv")

In [4]:
stock_data.head()

,Date,EBS,OBS.VI,RBI.VI,ARLN.HM,CBK.DE,PBB.BE,MBK.DE,BBVA.MC,UNIE.XC,...,ISP.MI,UCG.MI,ABN.AS,VLK.AS,AZA.ST,HOFI.ST,SEB-A.ST,SHB-A.ST,TFBANK.ST,NLB.IL
0,2019-01-02,57.700001,42.317120,15.009684,20.131157,5.346076,4.841865,7.301744,3.424062,0.962672,...,1.291749,8.020234,12.378850,10.646761,69.065323,42.700001,70.079155,74.827446,68.548180,9.270435
1,2019-01-03,57.540001,42.411366,15.284290,20.079140,5.380388,4.863699,7.260255,3.433240,0.958453,...,1.288361,7.906972,12.481354,10.517239,69.483315,42.849998,70.615601,74.888100,70.479111,9.224634
2,2019-01-04,58.790001,42.411366,15.706250,20.041981,5.696608,4.858240,7.260255,3.561362,0.968578,...,1.354629,8.378076,12.855190,10.672668,70.962372,43.099998,72.615067,76.419518,71.637665,9.296197
3,2019-01-07,61.549999,42.411366,16.000950,20.651340,5.732775,5.092965,7.343231,3.548881,0.983765,...,1.377532,8.599673,12.963724,10.776285,71.219597,45.349998,71.265839,75.600746,71.444580,9.039998
4,2019-01-08,62.700001,42.411366,16.027742,21.008039,5.870019,5.142092,7.260255,3.578984,0.976171,...,1.361609,8.458508,12.945635,10.750380,70.126381,44.450001,72.029877,75.085220,72.410034,9.031410

In [5]:
ff_factors

           Date    Mkt-RF   SMB   HML
0    2019-01-02  0.368000  0.55 -0.22
1    2019-01-03  0.719131  0.57  0.80
2    2019-01-04  0.759509 -0.93 -0.06
3    2019-01-07  0.727301  1.21 -0.43
4    2019-01-08  0.731021 -0.01 -0.50
..          ...       ...   ...   ...
506  2020-12-24  0.941136  0.39 -0.03
507  2020-12-28  0.945068 -0.33 -0.31
508  2020-12-29  0.945667  0.22 -0.84
509  2020-12-30  0.937269  0.30 -0.08
510  2020-12-31  0.990694  0.43 -0.03

[511 rows x 4 columns]

In [6]:
riskfree_data

           Date     RF
0    2019-01-02 -0.368
1    2019-01-03 -0.366
2    2019-01-04 -0.365
3    2019-01-07 -0.365
4    2019-01-08 -0.362
..          ...    ...
506  2020-12-24 -0.470
507  2020-12-28 -0.468
508  2020-12-29 -0.472
509  2020-12-30 -0.470
510  2020-12-31 -0.498

[511 rows x 2 columns]

In [7]:
# Parameters
event_date = '2020-03-27'
estimation_window_start = -63  # Start of the estimation window
estimation_window_end = -4     # End of the estimation window
event_window_start = -3  #  days before the event
event_window_end = 3     #  days after the event
bankname = stock_data.iloc[0:0,1:]
bank_list = bankname.columns[0:].tolist()  # Convert the first row of stock_data to a list

In [8]:
print(bank_list)

['EBS', 'OBS.VI', 'RBI.VI', 'ARLN.HM', 'CBK.DE', 'PBB.BE', 'MBK.DE', 'BBVA.MC', 'UNIE.XC', 'AKTIA.HE', 'NDA-SE.ST', 'OMASP.HE', 'BNP.PA', 'CCN.PA', 'LLOY.L', 'MTRO.L', 'STB.L', 'STAN.L', 'TATT.AT', 'BIRG.IR', 'ARION.IC', 'BGN.MI', 'BMED.MI', 'BDB.MI', 'FBK.MI', 'ILTY.MI', 'ISP.MI', 'UCG.MI', 'ABN.AS', 'VLK.AS', 'AZA.ST', 'HOFI.ST', 'SEB-A.ST', 'SHB-A.ST', 'TFBANK.ST', 'NLB.IL']

In [9]:
# Clean up column names
stock_data.columns = stock_data.columns.str.strip()
riskfree_data.columns = riskfree_data.columns.str.strip()

# Convert 'Date' column to datetime
date_column_name = 'Date'
stock_data[date_column_name] = pd.to_datetime(stock_data[date_column_name])
riskfree_data[date_column_name] = pd.to_datetime(riskfree_data[date_column_name])

# Set Date as index if it's not already
stock_data.set_index(date_column_name, inplace=True)
riskfree_data.set_index(date_column_name, inplace=True)

In [10]:
# Initialize an empty DataFrame to store daily returns
bank_daily_returns = pd.DataFrame()

selected_metric = 'RF'
riskfree_data_series = pd.to_numeric(riskfree_data[selected_metric], errors='coerce')
    
# Iterate over each column to calculate daily returns
for column in stock_data.columns:
    if column != date_column_name:  # Skip the Date column
        # Ensure the column data is numeric
        stock_data[column] = pd.to_numeric(stock_data[column], errors='coerce')
        
        # Calculate daily returns for this column
        bank_daily_returns[column] = stock_data[column].pct_change()
      
        # Calculate excess returns by subtracting the risk-free rate
        bank_daily_returns[column] = bank_daily_returns[column] - riskfree_data_series

# If the Date column was reset earlier, there's no need to add it back again
if date_column_name not in bank_daily_returns.columns:
    bank_daily_returns.reset_index(inplace=True)

# Reorder columns so that Date appears first
bank_daily_returns = bank_daily_returns[[date_column_name] + [col for col in bank_daily_returns.columns if col != date_column_name]]

In [11]:
print(bank_daily_returns)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
0   2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1   2019-01-03  0.363227  0.368227  0.384295  0.363416  0.372418  0.370509
2   2019-01-04  0.386724  0.365000  0.392607  0.363149  0.423773  0.363878
3   2019-01-07  0.411947  0.365000  0.383763  0.395404  0.371349  0.413315
4   2019-01-08  0.380684  0.362000  0.363674  0.379272  0.385940  0.371646
..         ...       ...       ...       ...       ...       ...       ...
506 2020-12-24  0.457166  0.470000  0.470000  0.470000  0.470000  0.470000
507 2020-12-28  0.450097  0.468000  0.469186  0.481882  0.467627  0.448833
508 2020-12-29  0.450082  0.472000  0.469038  0.473521  0.457075  0.470883
509 2020-12-30  0.498400  0.472375  0.461087  0.459873  0.467348  0.461615
510 2020-12-31  0.464559  0.498000  0.498000  0.498000  0.498000  0.498000

       MBK.DE   BBVA.MC   UNIE.XC  ...    ISP.MI    UCG.MI    ABN.AS  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1    0.360318  0.368680  0.361618  ...  0.363377  0.351878  0.374281
2    0.365000  0.402318  0.375563  ...  0.416436  0.424581  0.394952
3    0.376429  0.361495  0.380679  ...  0.381907  0.391450  0.373443
4    0.350700  0.370482  0.354281  ...  0.350441  0.345585  0.360605
..        ...       ...       ...  ...       ...       ...       ...
506  0.470000  0.474656  0.481021  ...  0.470000  0.470000  0.487413
507  0.468000  0.462634  0.468000  ...  0.472914  0.468910  0.457242
508  0.472000  0.469548  0.500343  ...  0.470647  0.471610  0.464091
509  0.460196  0.471475  0.492615  ...  0.466250  0.463763  0.461031
510  0.498000  0.488427  0.476576  ...  0.498000  0.498000  0.506044

       VLK.AS    AZA.ST   HOFI.ST  SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL
0         NaN       NaN       NaN       NaN       NaN        NaN       NaN
1    0.353835  0.372052  0.369513  0.373655  0.366811   0.394169  0.361059
2    0.379778  0.386287  0.370834  0.393315  0.385449   0.381438  0.372758
3    0.374709  0.368625  0.417204  0.346419  0.354286   0.362305  0.337440
4    0.359596  0.346650  0.342154  0.372721  0.355181   0.375513  0.361050
..        ...       ...       ...       ...       ...        ...       ...
506  0.481710  0.470000  0.470000  0.470000  0.470000   0.470000  0.470000
507  0.458741  0.491936  0.484760  0.476469  0.470884   0.472684  0.468000
508  0.464991  0.492779  0.478593  0.468034  0.469124   0.474331  0.539442
509  0.467647  0.458125  0.465087  0.459461  0.462550   0.479302  0.467821
510  0.488566  0.498000  0.498000  0.498000  0.498000   0.498000  0.480533

[511 rows x 37 columns]

In [12]:
ff_factors['Date'] = pd.to_datetime(ff_factors['Date'])
# Merge the two DataFrames on the Data column
merged_data=pd.merge(bank_daily_returns, ff_factors, on=date_column_name, suffixes=('_stock', '_market'))
print(merged_data)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
0   2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1   2019-01-03  0.363227  0.368227  0.384295  0.363416  0.372418  0.370509
2   2019-01-04  0.386724  0.365000  0.392607  0.363149  0.423773  0.363878
3   2019-01-07  0.411947  0.365000  0.383763  0.395404  0.371349  0.413315
4   2019-01-08  0.380684  0.362000  0.363674  0.379272  0.385940  0.371646
..         ...       ...       ...       ...       ...       ...       ...
506 2020-12-24  0.457166  0.470000  0.470000  0.470000  0.470000  0.470000
507 2020-12-28  0.450097  0.468000  0.469186  0.481882  0.467627  0.448833
508 2020-12-29  0.450082  0.472000  0.469038  0.473521  0.457075  0.470883
509 2020-12-30  0.498400  0.472375  0.461087  0.459873  0.467348  0.461615
510 2020-12-31  0.464559  0.498000  0.498000  0.498000  0.498000  0.498000

       MBK.DE   BBVA.MC   UNIE.XC  ...    VLK.AS    AZA.ST   HOFI.ST  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1    0.360318  0.368680  0.361618  ...  0.353835  0.372052  0.369513
2    0.365000  0.402318  0.375563  ...  0.379778  0.386287  0.370834
3    0.376429  0.361495  0.380679  ...  0.374709  0.368625  0.417204
4    0.350700  0.370482  0.354281  ...  0.359596  0.346650  0.342154
..        ...       ...       ...  ...       ...       ...       ...
506  0.470000  0.474656  0.481021  ...  0.481710  0.470000  0.470000
507  0.468000  0.462634  0.468000  ...  0.458741  0.491936  0.484760
508  0.472000  0.469548  0.500343  ...  0.464991  0.492779  0.478593
509  0.460196  0.471475  0.492615  ...  0.467647  0.458125  0.465087
510  0.498000  0.488427  0.476576  ...  0.488566  0.498000  0.498000

     SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL    Mkt-RF   SMB   HML
0         NaN       NaN        NaN       NaN  0.368000  0.55 -0.22
1    0.373655  0.366811   0.394169  0.361059  0.719131  0.57  0.80
2    0.393315  0.385449   0.381438  0.372758  0.759509 -0.93 -0.06
3    0.346419  0.354286   0.362305  0.337440  0.727301  1.21 -0.43
4    0.372721  0.355181   0.375513  0.361050  0.731021 -0.01 -0.50
..        ...       ...        ...       ...       ...   ...   ...
506  0.470000  0.470000   0.470000  0.470000  0.941136  0.39 -0.03
507  0.476469  0.470884   0.472684  0.468000  0.945068 -0.33 -0.31
508  0.468034  0.469124   0.474331  0.539442  0.945667  0.22 -0.84
509  0.459461  0.462550   0.479302  0.467821  0.937269  0.30 -0.08
510  0.498000  0.498000   0.498000  0.480533  0.990694  0.43 -0.03

[511 rows x 40 columns]

In [13]:
def find_data_in_relevent_days(origin_data, start, end):
    res_index = origin_data.index[origin_data['Date'] == event_date].tolist()[0]
    res_index_position = origin_data.index.get_loc(res_index) # true index: 3
    res_data = origin_data.iloc[res_index_position+start: res_index_position+end+1]
    return res_data


estimation_data = find_data_in_relevent_days(merged_data, start=estimation_window_start, end=estimation_window_end)
event_data = find_data_in_relevent_days(merged_data, start=event_window_start, end=event_window_end)

print(estimation_data)
print(event_data)

          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
253 2019-12-30  0.461370  0.453917  0.448465  0.450450  0.469596  0.462216
254 2019-12-31  0.439737  0.446000  0.446000  0.446000  0.446000  0.446000
255 2020-01-02  0.454927  0.451912  0.477671  0.442510  0.522515  0.465668
256 2020-01-03  0.456444  0.447816  0.441529  0.479566  0.434188  0.440467
257 2020-01-06  0.467459  0.451899  0.444300  0.446243  0.422739  0.451941
258 2020-01-07  0.438809  0.448684  0.442533  0.483664  0.472294  0.472194
259 2020-01-08  0.469121  0.451000  0.456410  0.435167  0.472381  0.453704
260 2020-01-09  0.483422  0.454000  0.464762  0.470731  0.457946  0.455349
261 2020-01-10  0.435710  0.457237  0.457437  0.457747  0.436251  0.441552
262 2020-01-13  0.431354  0.454110  0.444049  0.449165  0.438094  0.434970
263 2020-01-14  0.465832  0.457210  0.456117  0.432785  0.454763  0.459930
264 2020-01-15  0.447751  0.455096  0.430363  0.405611  0.413584  0.441988
265 2020-01-16  0.470651  0.453092  0.448275  0.461152  0.452099  0.454479
266 2020-01-17  0.443435  0.454088  0.453822  0.460375  0.418880  0.452000
267 2020-01-20  0.453000  0.453000  0.446636  0.451007  0.429911  0.450226
268 2020-01-21  0.481677  0.450000  0.453202  0.445340  0.444576  0.443741
269 2020-01-22  0.470539  0.451000  0.433672  0.451000  0.449442  0.461497
270 2020-01-23  0.446353  0.452000  0.433438  0.439625  0.442831  0.442997
271 2020-01-24  0.416034  0.452000  0.449636  0.462498  0.464010  0.459687
272 2020-01-27  0.408730  0.450917  0.430725  0.453335  0.441327  0.441904
273 2020-01-28  0.492278  0.453088  0.472328  0.453680  0.480921  0.461519
274 2020-01-29  0.461457  0.455000  0.457373  0.452327  0.460352  0.461246
275 2020-01-30  0.437425  0.454000  0.445004  0.452325  0.448106  0.439517
276 2020-01-31  0.452369  0.454000  0.438233  0.443597  0.448454  0.472894
277 2020-02-03  0.483585  0.452000  0.455398  0.459121  0.457385  0.443071
278 2020-02-04  0.495167  0.451000  0.466965  0.446960  0.488682  0.467632
279 2020-02-05  0.492625  0.451000  0.477191  0.468918  0.468511  0.455772
280 2020-02-06  0.453397  0.450000  0.475986  0.451328  0.483877  0.464925
281 2020-02-07  0.441036  0.452000  0.455166  0.449347  0.470574  0.464032
282 2020-02-10  0.460151  0.452000  0.441630  0.461644  0.442539  0.448697
283 2020-02-11  0.471686  0.456000  0.472401  0.459623  0.467636  0.477206
284 2020-02-12  0.463005  0.456000  0.460034  0.451077  0.468532  0.461191
285 2020-02-13  0.451047  0.455000  0.457679  0.470501  0.544352  0.464038
286 2020-02-14  0.455698  0.453000  0.456117  0.466316  0.481794  0.442763
287 2020-02-17  0.456000  0.456000  0.455556  0.439013  0.477180  0.461818
288 2020-02-18  0.460815  0.451000  0.442563  0.435676  0.446852  0.441360
289 2020-02-19  0.465384  0.450917  0.453896  0.439755  0.446752  0.444564
290 2020-02-20  0.453000  0.453000  0.439577  0.469107  0.463479  0.452346
291 2020-02-21  0.475059  0.454000  0.435860  0.453340  0.419926  0.451380
292 2020-02-24  0.386756  0.455000  0.445762  0.429884  0.394570  0.388684
293 2020-02-25  0.429098  0.454000  0.426960  0.443153  0.395561  0.455406
294 2020-02-26  0.429129  0.456088  0.431479  0.403280  0.450533  0.430826
295 2020-02-27  0.399936  0.453000  0.401284  0.409679  0.400460  0.409147
296 2020-02-28  0.515738  0.455000  0.420366  0.395755  0.411849  0.405376
297 2020-03-02  0.458875  0.454917  0.438794  0.474650  0.416509  0.472032
298 2020-03-03  0.410564  0.457000  0.462727  0.484592  0.438700  0.470250
299 2020-03-04  0.548044  0.456000  0.456542  0.428382  0.441026  0.448308
300 2020-03-05  0.448630  0.455000  0.415976  0.469201  0.413221  0.426318
301 2020-03-06  0.420162  0.456000  0.412007  0.401158  0.384232  0.438442
302 2020-03-09  0.349482  0.454000  0.374354  0.359350  0.299599  0.339459
303 2020-03-10  0.558437  0.456000  0.463372  0.398727  0.487899  0.452330
304 2020-03-11  0.373889  0.455912  0.444955  0.448839  0.513829  0.414722
305 2020-03-12  0.516286  0.444540  0.327340  0.282251  0.242860  0.340948
306 2020-03-13  0.677748  0.428516  0.447131  0.633647  0.493802  0.454914
307 2020-03-16  0.285206  0.394478  0.367480  0.277923  0.377995  0.331914
308 2020-03-17  0.451056  0.422958  0.450882  0.442074  0.494951  0.375630
309 2020-03-18  0.408267  0.422774  0.354931  0.408524  0.429556  0.333774
310 2020-03-19  0.396208  0.441000  0.473000  0.388501  0.512992  0.403687
311 2020-03-20  0.368190  0.439000  0.556571  0.444309  0.421272  0.442101
312 2020-03-23  0.445472  0.440000  0.426898  0.271353  0.410021  0.390541

       MBK.DE   BBVA.MC   UNIE.XC  ...    VLK.AS    AZA.ST   HOFI.ST  \
253  0.461181  0.449253  0.465047  ...  0.458481  0.472632  0.447857
254  0.446000  0.441604  0.456549  ...  0.438574  0.446000  0.446000
255  0.459155  0.479487  0.454000  ...  0.466469  0.466270  0.480232
256  0.431487  0.441041  0.476530  ...  0.442148  0.454020  0.435415
257  0.459235  0.449647  0.435661  ...  0.437085  0.454000  0.454000
258  0.449792  0.450628  0.451367  ...  0.459049  0.463065  0.447063
259  0.445764  0.460581  0.445792  ...  0.447976  0.481000  0.433800
260  0.501368  0.458349  0.450335  ...  0.454000  0.485068  0.483711
261  0.442950  0.436661  0.440388  ...  0.458055  0.460533  0.451024
262  0.441848  0.437091  0.440824  ...  0.435903  0.427701  0.461901
263  0.453000  0.440100  0.453000  ...  0.444820  0.451084  0.437314
264  0.453000  0.436021  0.444927  ...  0.456093  0.449161  0.482880
265  0.456128  0.453303  0.429296  ...  0.459222  0.468341  0.456803
266  0.436694  0.455969  0.466975  ...  0.456077  0.440636  0.462577
267  0.458181  0.444158  0.446989  ...  0.446908  0.474073  0.470127
268  0.455155  0.446641  0.431858  ...  0.456129  0.455629  0.392002
269  0.451000  0.440469  0.462758  ...  0.451000  0.391299  0.447028
270  0.452000  0.444763  0.471923  ...  0.446924  0.403389  0.409129
271  0.452000  0.439779  0.442776  ...  0.457102  0.452000  0.466583
272  0.458128  0.436612  0.438214  ...  0.444878  0.425888  0.433698
273  0.451000  0.466227  0.482128  ...  0.471471  0.447785  0.445556
274  0.455000  0.469564  0.472251  ...  0.442964  0.452850  0.455842
275  0.438694  0.462784  0.447641  ...  0.426589  0.449690  0.446848
276  0.454000  0.445505  0.420933  ...  0.454000  0.475645  0.473915
277  0.472725  0.451250  0.452552  ...  0.445737  0.454119  0.468618
278  0.451000  0.476831  0.449346  ...  0.463605  0.480598  0.468573
279  0.451000  0.480569  0.439956  ...  0.453074  0.465887  0.466060
280  0.450000  0.485113  0.460609  ...  0.459317  0.449494  0.451978
281  0.436772  0.476902  0.477415  ...  0.449949  0.448963  0.452987
282  0.457155  0.454870  0.475168  ...  0.454056  0.463168  0.462848
283  0.456000  0.454283  0.463899  ...  0.450872  0.470056  0.471610
284  0.456000  0.474345  0.468017  ...  0.456000  0.479762  0.579919
285  0.455000  0.449183  0.451902  ...  0.443660  0.480145  0.428504
286  0.463256  0.442619  0.439535  ...  0.498360  0.434132  0.441586
287  0.456000  0.453139  0.451801  ...  0.449516  0.459846  0.459552
288  0.451000  0.439523  0.465233  ...  0.445980  0.449084  0.442150
289  0.453000  0.454161  0.447283  ...  0.457036  0.456839  0.449429
290  0.468228  0.439471  0.453523  ...  0.468075  0.495065  0.438663
291  0.449000  0.455176  0.448775  ...  0.458950  0.428312  0.448545
292  0.455000  0.416252  0.429055  ...  0.440222  0.394736  0.400155
293  0.459025  0.421834  0.427795  ...  0.441000  0.446986  0.423052
294  0.429000  0.451371  0.456215  ...  0.444881  0.473173  0.457992
295  0.427359  0.411979  0.436978  ...  0.401875  0.421317  0.407274
296  0.439211  0.408266  0.398290  ...  0.450690  0.427393  0.406250
297  0.489085  0.445811  0.449262  ...  0.475398  0.468567  0.443859
298  0.493269  0.448368  0.466958  ...  0.460188  0.477790  0.468096
299  0.451000  0.474239  0.458970  ...  0.465534  0.452945  0.430539
300  0.470075  0.408080  0.438063  ...  0.437162  0.451936  0.409955
301  0.421346  0.433810  0.448771  ...  0.433564  0.456000  0.450340
302  0.284769  0.321931  0.394534  ...  0.387333  0.397648  0.378099
303  0.493037  0.442284  0.437936  ...  0.412675  0.448399  0.422632
304  0.487762  0.484221  0.450773  ...  0.428624  0.458000  0.421356
305  0.472341  0.304238  0.271413  ...  0.315025  0.319333  0.271979
306  0.456000  0.468135  0.552790  ...  0.445736  0.450937  0.470170
307  0.405545  0.317316  0.337918  ...  0.298407  0.370847  0.312610
308  0.410286  0.515194  0.450166  ...  0.363832  0.470896  0.349475
309  0.481037  0.404461  0.381759  ...  0.344952  0.434251  0.363658
310  0.399333  0.476075  0.357814  ...  0.500197  0.503500  0.530219
311  0.525957  0.468427  0.391510  ...  0.570737  0.466360  0.413403
312  0.434286  0.404830  0.445472  ...  0.406490  0.394727  0.317408

     SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL    Mkt-RF   SMB   HML
253  0.452831  0.453036   0.439122  0.462656  0.903064  0.74  0.22
254  0.446000  0.446000   0.446000  0.442694  0.891114  0.28  0.06
255  0.484654  0.483237   0.458292  0.458975  0.920841  0.03  0.27
256  0.440544  0.437075   0.464820  0.452000  0.898762 -0.19 -0.18
257  0.454000  0.454000   0.454000  0.460600  0.902474 -0.30  0.00
258  0.462800  0.460376   0.492975  0.450082  0.911793  0.07  0.20
259  0.449231  0.437874   0.463195  0.470769  0.905541 -0.37  0.02
260  0.461532  0.452522   0.474080  0.447538  0.914181  0.10 -0.47
261  0.438488  0.443627   0.460874  0.488772  0.904324  0.04 -0.15
262  0.451777  0.432279   0.444188  0.472408  0.901403  0.22 -0.09
263  0.448537  0.439182   0.460874  0.416077  0.904730 -0.15 -0.26
264  0.442913  0.423740   0.437375  0.451403  0.904432 -0.01 -0.95
265  0.473192  0.469255   0.454968  0.444600  0.903374 -0.01  0.00
266  0.471052  0.454710   0.436190  0.452000  0.913040 -0.33 -0.52
267  0.452783  0.450921   0.457016  0.453000  0.903576  0.26  0.03
268  0.452609  0.445208   0.410000  0.446779  0.897391  0.01 -0.24
269  0.449916  0.449116   0.467667  0.460693  0.896899  0.32 -0.43
270  0.437671  0.433334   0.406918  0.452000  0.895262  0.00  0.20
271  0.470502  0.461404   0.464876  0.447200  0.915322 -0.16 -0.21
272  0.434618  0.432039   0.431814  0.438531  0.879190  0.39  0.12
273  0.482945  0.480195   0.463987  0.462419  0.913251 -0.44  0.16
274  0.474428  0.451428   0.455000  0.455000  0.914608 -0.10 -0.09
275  0.444576  0.445354   0.445453  0.454000  0.895801  0.26 -0.18
276  0.460765  0.461020   0.436759  0.462064  0.894488  0.75 -0.23
277  0.440870  0.453479   0.487088  0.456800  0.909592 -0.51 -0.29
278  0.471174  0.465343   0.446763  0.446223  0.921395 -0.21 -0.09
279  0.454955  0.512031   0.489298  0.476600  0.914207 -0.56  0.18
280  0.475295  0.501445   0.413115  0.464041  0.907327 -0.34  0.24
281  0.453618  0.473901   0.439234  0.452000  0.902153 -0.19  0.04
282  0.454625  0.463400   0.469241  0.448923  0.902602  0.17 -0.32
283  0.466370  0.463665   0.485661  0.451370  0.920610  0.23  0.23
284  0.448925  0.451973   0.447770  0.448248  0.919473  0.13  0.41
285  0.458212  0.443320   0.467448  0.455000  0.908005  0.24  0.08
286  0.456401  0.448909   0.440705  0.453000  0.904500  0.30  0.20
287  0.466469  0.454631   0.464299  0.451312  0.915202 -0.06  0.07
288  0.449520  0.450543   0.479807  0.449430  0.897658 -0.02 -0.40
289  0.483632  0.479978   0.469000  0.465579  0.913465 -0.25 -0.57
290  0.450603  0.440979   0.460874  0.459211  0.895082  0.52  0.32
291  0.436701  0.442283   0.438375  0.435481  0.902088  0.18 -0.13
292  0.429279  0.422624   0.427222  0.440849  0.869899 -0.14 -0.07
293  0.437337  0.429966   0.405020  0.434861  0.887312  0.61 -0.25
294  0.454817  0.461726   0.449708  0.440992  0.909447 -0.66  0.08
295  0.416892  0.412751   0.427138  0.418403  0.871967  0.17 -0.27
296  0.422619  0.418355   0.450575  0.436229  0.873416  0.65 -0.24
297  0.468155  0.466536   0.425889  0.448304  0.916805 -0.63 -0.87
298  0.456135  0.456179   0.489110  0.471035  0.923926  0.80 -1.05
299  0.456650  0.466892   0.456000  0.461190  0.926410 -1.36 -0.16
300  0.443317  0.453374   0.419444  0.448115  0.893342 -0.19 -0.63
301  0.425571  0.432176   0.465217  0.410939  0.872902  0.64 -0.22
302  0.368879  0.415619   0.371808  0.397739  0.823534  1.27 -2.83
303  0.440452  0.437562   0.451025  0.467539  0.895424  0.31  0.41
304  0.448724  0.443635   0.432000  0.399065  0.914467 -0.38  0.40
305  0.316083  0.334596   0.288675  0.228737  0.785986  1.67 -2.35
306  0.458645  0.465177   0.460926  0.607436  0.928026 -1.72  0.08
307  0.375971  0.393915   0.448549  0.345558  0.849545 -1.88 -3.04
308  0.511906  0.515113   0.384575  0.473883  0.924701 -3.30 -0.68
309  0.402680  0.404912   0.381173  0.344123  0.830826  0.21 -1.26
310  0.463326  0.508536   0.457760  0.413603  0.910611 -1.71 -1.04
311  0.422015  0.409933   0.428011  0.440409  0.916475  0.99  0.62
312  0.397729  0.389434   0.359444  0.368270  0.855295  0.37  0.42

[60 rows x 40 columns]
          Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
313 2020-03-24  0.569192  0.442000  0.547818  0.544025  0.551587  0.546065
314 2020-03-25  0.420541  0.442000  0.445531  0.599421  0.496284  0.513429
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073
318 2020-03-31  0.498651  0.437000  0.410081  0.440973  0.428162  0.471049
319 2020-04-01  0.380991  0.444398  0.411720  0.429467  0.378980  0.390461

       MBK.DE   BBVA.MC   UNIE.XC  ...    VLK.AS    AZA.ST   HOFI.ST  \
313  0.424759  0.552074  0.444620  ...  0.487620  0.488025  0.553776
314  0.436152  0.497807  0.477384  ...  0.478649  0.476667  0.478804
315  0.432235  0.448903  0.446913  ...  0.455784  0.451732  0.511532
316  0.409286  0.391638  0.454681  ...  0.385100  0.468018  0.383362
317  0.467691  0.383570  0.469846  ...  0.421761  0.454250  0.442136
318  0.437000  0.435459  0.421127  ...  0.449658  0.460486  0.503609
319  0.454048  0.377346  0.369514  ...  0.440214  0.448643  0.415236

     SEB-A.ST  SHB-A.ST  TFBANK.ST    NLB.IL    Mkt-RF   SMB   HML
313  0.484204  0.479626   0.523571  0.514727  0.976362 -2.48  2.16
314  0.517734  0.533164   0.419654  0.403864  0.915317 -0.31  0.37
315  0.437678  0.451021   0.435429  0.471900  0.905013 -0.13 -0.57
316  0.399887  0.408746   0.398890  0.447857  0.848167  1.94 -0.96
317  0.443606  0.404177   0.436958  0.475763  0.899549 -0.46 -1.86
318  0.453647  0.479900   0.476514  0.468724  0.881694  0.93  0.34
319  0.402703  0.411449   0.403988  0.458043  0.845750  1.28 -0.82

[7 rows x 40 columns]

In [14]:
# Fama-French 3 factor model
# Perform OLS regression for each bank against the market indices
results = {}
cumulative_abnormal_returns = pd.DataFrame()
factor_columns = ['Mkt-RF', 'SMB', 'HML']

for bank in bank_list:
    X = estimation_data[factor_columns]  # Independent variables (3 factors)
    X = add_constant(X)  # Add a constant (intercept)
    y = estimation_data[bank]  # Dependent variable (bank returns)
    
    
    model = OLS(y, X).fit()  # Fit the model
    
#     print(model.summary())
    
#     results = {}
    
    # Predict expected returns during the event window
    event_data[f'Expected_{bank}'] = model.predict(add_constant(event_data[factor_columns]))
    
    # Calculate abnormal returns
    event_data[f'Abnormal_{bank}'] = event_data[bank] - event_data[f'Expected_{bank}']
    
    # Calculate cumulative abnormal returns (CAR)
    event_data[f'CAR_{bank}'] = event_data[f'Abnormal_{bank}'].cumsum()
    
    # Save CAR
    cumulative_abnormal_returns[f'CAR_{bank}'] = event_data[f'CAR_{bank}']
    
    print(f"Abnormal Returns (AR) for {bank}:")
    print(event_data[f'Abnormal_{bank}'])

    
# Calculate the CAAR (Cumulative Average Abnormal Returns)
cumulative_abnormal_returns['CAAR'] = cumulative_abnormal_returns.mean(axis=1)

    
#     # Print the summary for each bank
#     print(f"Regression results for {bank}:")
#     print(model.summary())
#     print("\n" + "="*80 + "\n")
    
    # Display the results
# print("Estimation Start Date:", estimation_start_date)
# print("Estimation End Date:", estimation_end_date)

Abnormal Returns (AR) for EBS:
313    0.032564
314   -0.050827
315    0.045728
316   -0.077752
317    0.090547
318    0.040345
319   -0.042666
Name: Abnormal_EBS, dtype: float64
Abnormal Returns (AR) for OBS.VI:
313   -0.005070
314   -0.010204
315   -0.006285
316   -0.007723
317   -0.000947
318   -0.019962
319   -0.006533
Name: Abnormal_OBS.VI, dtype: float64
Abnormal Returns (AR) for RBI.VI:
313    0.021822
314   -0.018748
315    0.050504
316    0.003210
317   -0.026289
318   -0.030146
319    0.014563
Name: Abnormal_RBI.VI, dtype: float64
Abnormal Returns (AR) for ARLN.HM:
313    0.005368
314    0.135806
315   -0.072144
316    0.077003
317    0.007893
318    0.014487
319    0.055919
Name: Abnormal_ARLN.HM, dtype: float64
Abnormal Returns (AR) for CBK.DE:
313   -0.056459
314    0.017539
315    0.027829
316    0.030728
317   -0.036412
318   -0.003469
319    0.011842
Name: Abnormal_CBK.DE, dtype: float64
Abnormal Returns (AR) for PBB.BE:
313    0.049649
314    0.055617
315   -0.011458
316    0.000501
317   -0.012783
318    0.028221
319   -0.009278
Name: Abnormal_PBB.BE, dtype: float64
Abnormal Returns (AR) for MBK.DE:
313   -0.058110
314   -0.026088
315   -0.016025
316   -0.037565
317    0.041803
318   -0.027283
319    0.012567
Name: Abnormal_MBK.DE, dtype: float64
Abnormal Returns (AR) for BBVA.MC:
313   -0.024554
314    0.025537
315    0.005983
316    0.019691
317   -0.030852
318    0.001114
319   -0.001123
Name: Abnormal_BBVA.MC, dtype: float64
Abnormal Returns (AR) for UNIE.XC:
313   -0.099454
314    0.011092
315    0.004760
316    0.062640
317    0.053989
318   -0.019026
319   -0.023785
Name: Abnormal_UNIE.XC, dtype: float64
Abnormal Returns (AR) for AKTIA.HE:
313   -0.022210
314   -0.004506
315    0.013099
316    0.026260
317   -0.001811
318    0.026532
319    0.017501
Name: Abnormal_AKTIA.HE, dtype: float64
Abnormal Returns (AR) for NDA-SE.ST:
313   -0.026177
314    0.030354
315    0.012965
316    0.023444
317   -0.014099
318    0.033965
319    0.015233
Name: Abnormal_NDA-SE.ST, dtype: float64
Abnormal Returns (AR) for OMASP.HE:
313   -0.033662
314   -0.032286
315    0.042946
316   -0.051306
317    0.010236
318    0.004023
319    0.005443
Name: Abnormal_OMASP.HE, dtype: float64

/Users/klara/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_47272/882673880.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'Expected_{bank}'] = model.predict(add_constant(event_data[factor_columns]))
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_47272/882673880.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'Abnormal_{bank}'] = event_data[bank] - event_data[f'Expected_{bank}']
/var/folders/g0/780cxn9d3895qkc2jcrhv3gm0000gn/T/ipykernel_47272/882673880.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_data[f'CAR_{bank}'] = event_data[f'Abnormal_{bank}'].cumsum()

Abnormal Returns (AR) for BNP.PA:
313   -0.031499
314    0.053051
315    0.033520
316    0.036880
317   -0.030120
318   -0.019337
319    0.007562
Name: Abnormal_BNP.PA, dtype: float64
Abnormal Returns (AR) for CCN.PA:
313   -0.044140
314    0.024854
315   -0.002040
316    0.033461
317    0.007754
318   -0.002513
319   -0.003369
Name: Abnormal_CCN.PA, dtype: float64
Abnormal Returns (AR) for LLOY.L:
313    0.020373
314    0.073666
315    0.025624
316   -0.039325
317   -0.003196
318   -0.046278
319   -0.074667
Name: Abnormal_LLOY.L, dtype: float64
Abnormal Returns (AR) for MTRO.L:
313   -0.023125
314    0.150137
315    0.056161
316   -0.069727
317    0.016760
318   -0.015583
319   -0.010794
Name: Abnormal_MTRO.L, dtype: float64
Abnormal Returns (AR) for STB.L:
313   -0.071756
314    0.115847
315   -0.045052
316    0.189149
317    0.005665
318   -0.014413
319    0.040800
Name: Abnormal_STB.L, dtype: float64
Abnormal Returns (AR) for STAN.L:
313   -0.025201
314    0.030932
315    0.013190
316    0.030193
317   -0.020184
318   -0.010659
319   -0.024694
Name: Abnormal_STAN.L, dtype: float64
Abnormal Returns (AR) for TATT.AT:
313    0.004321
314   -0.016720
315    0.056811
316   -0.022677
317    0.030567
318    0.022267
319    0.009248
Name: Abnormal_TATT.AT, dtype: float64
Abnormal Returns (AR) for BIRG.IR:
313   -0.034670
314    0.090369
315    0.072955
316   -0.002575
317   -0.043862
318   -0.035703
319    0.029654
Name: Abnormal_BIRG.IR, dtype: float64
Abnormal Returns (AR) for ARION.IC:
313   -0.047666
314    0.023847
315    0.032004
316    0.070385
317   -0.023678
318   -0.022629
319    0.037835
Name: Abnormal_ARION.IC, dtype: float64
Abnormal Returns (AR) for BGN.MI:
313   -0.009315
314   -0.014063
315    0.037082
316    0.013018
317    0.008288
318    0.024445
319    0.034928
Name: Abnormal_BGN.MI, dtype: float64
Abnormal Returns (AR) for BMED.MI:
313    0.064049
314    0.015163
315    0.054148
316   -0.000888
317   -0.036365
318   -0.016759
319    0.035987
Name: Abnormal_BMED.MI, dtype: float64
Abnormal Returns (AR) for BDB.MI:
313   -0.067993
314   -0.016506
315   -0.004689
316   -0.023214
317    0.040134
318   -0.011141
319    0.041911
Name: Abnormal_BDB.MI, dtype: float64
Abnormal Returns (AR) for FBK.MI:
313    0.019224
314   -0.035492
315    0.086511
316   -0.021550
317    0.022312
318   -0.014505
319    0.035560
Name: Abnormal_FBK.MI, dtype: float64
Abnormal Returns (AR) for ILTY.MI:
313    0.072730
314   -0.017483
315    0.016640
316    0.008014
317   -0.003937
318    0.047002
319    0.011423
Name: Abnormal_ILTY.MI, dtype: float64
Abnormal Returns (AR) for ISP.MI:
313   -0.040473
314   -0.010652
315    0.007757
316    0.031514
317   -0.037271
318    0.014277
319    0.025870
Name: Abnormal_ISP.MI, dtype: float64
Abnormal Returns (AR) for UCG.MI:
313   -0.052274
314   -0.026241
315   -0.012518
316    0.025262
317   -0.037414
318   -0.018035
319    0.024481
Name: Abnormal_UCG.MI, dtype: float64
Abnormal Returns (AR) for ABN.AS:
313    0.000835
314   -0.017781
315   -0.032519
316    0.043986
317   -0.068451
318    0.030387
319   -0.002083
Name: Abnormal_ABN.AS, dtype: float64
Abnormal Returns (AR) for VLK.AS:
313   -0.011833
314    0.016180
315    0.008213
316   -0.037851
317   -0.002665
318    0.000025
319    0.034592
Name: Abnormal_VLK.AS, dtype: float64
Abnormal Returns (AR) for AZA.ST:
313   -0.024281
314    0.012483
315   -0.004054
316    0.058133
317    0.004243
318    0.023582
319    0.044663
Name: Abnormal_AZA.ST, dtype: float64
Abnormal Returns (AR) for HOFI.ST:
313    0.056128
314    0.022401
315    0.060299
316   -0.018630
317   -0.004226
318    0.077856
319    0.033556
Name: Abnormal_HOFI.ST, dtype: float64
Abnormal Returns (AR) for SEB-A.ST:
313   -0.054143
314    0.051698
315   -0.014581
316    0.010265
317   -0.000330
318    0.023958
319    0.011548
Name: Abnormal_SEB-A.ST, dtype: float64
Abnormal Returns (AR) for SHB-A.ST:
313   -0.049197
314    0.070328
315   -0.003665
316    0.018400
317   -0.051747
318    0.055648
319    0.016996
Name: Abnormal_SHB-A.ST, dtype: float64
Abnormal Returns (AR) for TFBANK.ST:
313    0.028064
314   -0.036671
315   -0.017452
316   -0.008376
317   -0.016361
318    0.048536
319    0.006260
Name: Abnormal_TFBANK.ST, dtype: float64
Abnormal Returns (AR) for NLB.IL:
313   -0.046681
314   -0.065681
315    0.022726
316    0.073850
317    0.043050
318    0.042022
319    0.084476
Name: Abnormal_NLB.IL, dtype: float64

In [15]:
# Display CAAR for the event window
print(cumulative_abnormal_returns['CAAR'])

313   -0.016245
314    0.001170
315    0.016309
316    0.029276
317    0.025949
318    0.032373
319    0.046301
Name: CAAR, dtype: float64

In [16]:
print(event_data[['Date'] +[f'CAR_{bank}' for bank in bank_list]])

          Date   CAR_EBS  CAR_OBS.VI  CAR_RBI.VI  CAR_ARLN.HM  CAR_CBK.DE  \
313 2020-03-24  0.032564   -0.005070    0.021822     0.005368   -0.056459
314 2020-03-25 -0.018262   -0.015274    0.003074     0.141174   -0.038920
315 2020-03-26  0.027465   -0.021559    0.053578     0.069030   -0.011092
316 2020-03-27 -0.050287   -0.029282    0.056788     0.146033    0.019636
317 2020-03-30  0.040260   -0.030229    0.030500     0.153926   -0.016776
318 2020-03-31  0.080605   -0.050192    0.000354     0.168414   -0.020245
319 2020-04-01  0.037939   -0.056724    0.014917     0.224332   -0.008403

     CAR_PBB.BE  CAR_MBK.DE  CAR_BBVA.MC  CAR_UNIE.XC  ...  CAR_ISP.MI  \
313    0.049649   -0.058110    -0.024554    -0.099454  ...   -0.040473
314    0.105266   -0.084198     0.000984    -0.088362  ...   -0.051125
315    0.093808   -0.100223     0.006967    -0.083602  ...   -0.043368
316    0.094308   -0.137788     0.026658    -0.020962  ...   -0.011854
317    0.081525   -0.095986    -0.004194     0.033027  ...   -0.049126
318    0.109746   -0.123269    -0.003079     0.014001  ...   -0.034849
319    0.100467   -0.110702    -0.004202    -0.009784  ...   -0.008979

     CAR_UCG.MI  CAR_ABN.AS  CAR_VLK.AS  CAR_AZA.ST  CAR_HOFI.ST  \
313   -0.052274    0.000835   -0.011833   -0.024281     0.056128
314   -0.078515   -0.016945    0.004347   -0.011798     0.078529
315   -0.091032   -0.049464    0.012560   -0.015853     0.138828
316   -0.065770   -0.005478   -0.025291    0.042280     0.120198
317   -0.103184   -0.073929   -0.027956    0.046523     0.115972
318   -0.121219   -0.043542   -0.027931    0.070106     0.193828
319   -0.096738   -0.045625    0.006661    0.114769     0.227383

     CAR_SEB-A.ST  CAR_SHB-A.ST  CAR_TFBANK.ST  CAR_NLB.IL
313     -0.054143     -0.049197       0.028064   -0.046681
314     -0.002444      0.021130      -0.008607   -0.112362
315     -0.017025      0.017466      -0.026059   -0.089636
316     -0.006760      0.035865      -0.034435   -0.015786
317     -0.007090     -0.015882      -0.050796    0.027264
318      0.016869      0.039767      -0.002260    0.069286
319      0.028416      0.056763       0.003999    0.153762

[7 rows x 37 columns]

In [17]:
from scipy import stats
from scipy.stats import t

windows = {
    'CAR [-1,+1]': [-1, 1],
    'CAR [-1,+3]': [-1, 3],
    'CAR [0,+1]': [0, 1],
}


car_results = pd.DataFrame()
# Assume event_data contains the columns: 'bank', 'days_from_event', and 'Abnormal_Return'

for label, (start, end) in windows.items():
    # Filter data for the specified time window
#     print("event_data:", event_data)
    window_data = find_data_in_relevent_days(event_data, start=start, end=end)

    print(f"{label}-window_data:", window_data)
    
#     assert window_data.equals(window_data2)
    
    # Calculate CAR for each bank
    car_per_bank = {}
    for bank in bank_list:
        if bank in window_data.columns:
            car_per_bank[bank] = window_data[f'Abnormal_{bank}'].sum()

    # Convert to DataFrame for merging
    car_per_bank_df = pd.DataFrame(list(car_per_bank.items()), columns=['Bank', label])
    
    # Merge the results into the car_results DataFrame
    if car_results.empty:
        car_results = car_per_bank_df
    else:
        car_results = pd.merge(car_results, car_per_bank_df, on='Bank', how='outer')
        
# Convert CAR results to percentages and format them to two decimal places
for column in car_results.columns[1:]:  # Skip the 'Bank' column
    car_results[column] = car_results[column] * 100  # Convert to percentage
    car_results[column] = car_results[column].apply(lambda x: f"{x:.2f}%")  # Format to two decimal places

# Display the calculated CAR results for each company
print(car_results)

CAR [-1,+1]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
315  0.432235  0.448903  0.446913  ...     -0.017025           0.454686
316  0.409286  0.391638  0.454681  ...     -0.006760           0.390346
317  0.467691  0.383570  0.469846  ...     -0.007090           0.455924

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
315          -0.003665      0.017466            0.452881           -0.017452
316           0.018400      0.035865            0.407266           -0.008376
317          -0.051747     -0.015882            0.453319           -0.016361

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
315      -0.026059         0.449174         0.022726   -0.089636
316      -0.034435         0.374007         0.073850   -0.015786
317      -0.050796         0.432714         0.043050    0.027264

[3 rows x 148 columns]
CAR [-1,+3]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
315 2020-03-26  0.491880  0.444000  0.496780  0.374594  0.471093  0.432316
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073
318 2020-03-31  0.498651  0.437000  0.410081  0.440973  0.428162  0.471049
319 2020-04-01  0.380991  0.444398  0.411720  0.429467  0.378980  0.390461

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
315  0.432235  0.448903  0.446913  ...     -0.017025           0.454686
316  0.409286  0.391638  0.454681  ...     -0.006760           0.390346
317  0.467691  0.383570  0.469846  ...     -0.007090           0.455924
318  0.437000  0.435459  0.421127  ...      0.016869           0.424252
319  0.454048  0.377346  0.369514  ...      0.028416           0.394453

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
315          -0.003665      0.017466            0.452881           -0.017452
316           0.018400      0.035865            0.407266           -0.008376
317          -0.051747     -0.015882            0.453319           -0.016361
318           0.055648      0.039767            0.427978            0.048536
319           0.016996      0.056763            0.397729            0.006260

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
315      -0.026059         0.449174         0.022726   -0.089636
316      -0.034435         0.374007         0.073850   -0.015786
317      -0.050796         0.432714         0.043050    0.027264
318      -0.002260         0.426702         0.042022    0.069286
319       0.003999         0.373567         0.084476    0.153762

[5 rows x 148 columns]
CAR [0,+1]-window_data:           Date       EBS    OBS.VI    RBI.VI   ARLN.HM    CBK.DE    PBB.BE  \
316 2020-03-27  0.338268  0.449819  0.405227  0.459381  0.385945  0.416488
317 2020-03-30  0.507037  0.443000  0.399840  0.438714  0.374102  0.410073

       MBK.DE   BBVA.MC   UNIE.XC  ...  CAR_SEB-A.ST  Expected_SHB-A.ST  \
316  0.409286  0.391638  0.454681  ...      -0.00676           0.390346
317  0.467691  0.383570  0.469846  ...      -0.00709           0.455924

     Abnormal_SHB-A.ST  CAR_SHB-A.ST  Expected_TFBANK.ST  Abnormal_TFBANK.ST  \
316           0.018400      0.035865            0.407266           -0.008376
317          -0.051747     -0.015882            0.453319           -0.016361

     CAR_TFBANK.ST  Expected_NLB.IL  Abnormal_NLB.IL  CAR_NLB.IL
316      -0.034435         0.374007          0.07385   -0.015786
317      -0.050796         0.432714          0.04305    0.027264

[2 rows x 148 columns]
         Bank CAR [-1,+1] CAR [-1,+3] CAR [0,+1]
0         EBS       5.85%       5.62%      1.28%
1      OBS.VI      -1.50%      -4.15%     -0.87%
2      RBI.VI       2.74%       1.18%     -2.31%
3     ARLN.HM       1.28%       8.32%      8.49%
4      CBK.DE       2.21%       3.05%     -0.57%
5      PBB.BE      -2.37%      -0.48%     -1.23%
6      MBK.DE      -1.18%      -2.65%      0.42%
7     BBVA.MC      -0.52%      -0.52%     -1.12%
8     UNIE.XC      12.14%       7.86%     11.66%
9    AKTIA.HE       3.75%       8.16%      2.44%
10  NDA-SE.ST       2.23%       7.15%      0.93%
11   OMASP.HE       0.19%       1.13%     -4.11%
12     BNP.PA       4.03%       2.85%      0.68%
13     CCN.PA       3.92%       3.33%      4.12%
14     LLOY.L      -1.69%     -13.78%     -4.25%
15     MTRO.L       0.32%      -2.32%     -5.30%
16      STB.L      14.98%      17.61%     19.48%
17     STAN.L       2.32%      -1.22%      1.00%
18    TATT.AT       6.47%       9.62%      0.79%
19    BIRG.IR       2.65%       2.05%     -4.64%
20   ARION.IC       7.87%       9.39%      4.67%
21     BGN.MI       5.84%      11.78%      2.13%
22    BMED.MI       1.69%       3.61%     -3.73%
23     BDB.MI       1.22%       4.30%      1.69%
24     FBK.MI       8.73%      10.83%      0.08%
25    ILTY.MI       2.07%       7.91%      0.41%
26     ISP.MI       0.20%       4.21%     -0.58%
27     UCG.MI      -2.47%      -1.82%     -1.22%
28     ABN.AS      -5.70%      -2.87%     -2.45%
29     VLK.AS      -3.23%       0.23%     -4.05%
30     AZA.ST       5.83%      12.66%      6.24%
31    HOFI.ST       3.74%      14.89%     -2.29%
32   SEB-A.ST      -0.46%       3.09%      0.99%
33   SHB-A.ST      -3.70%       3.56%     -3.33%
34  TFBANK.ST      -4.22%       1.26%     -2.47%
35     NLB.IL      13.96%      26.61%     11.69%

In [18]:
import numpy as np
from scipy.stats import t

# Create a copy of car_results to annotate the CAR values
car_results_copy = car_results.copy()

# Define significance levels and markers
alpha_levels = [0.01, 0.05, 0.10]
markers = ["***", "**", "*"]

# Iterate over each bank and window to annotate CAR values with significance markers
for bank in car_results['Bank'].unique():
    for label, (start, end) in windows.items():
        # Get abnormal returns for the specified window
        window_data = find_data_in_relevent_days(event_data, start=start, end=end)

        if f'Abnormal_{bank}' in window_data.columns:
            abnormal_returns = window_data[f'Abnormal_{bank}']

            # Calculate the standard deviation of abnormal returns
            std_dev = abnormal_returns.std(ddof=1)

            # Calculate the number of observations (days in the event window)
            n = len(abnormal_returns)

            if n > 1 and std_dev > 0:
                # Calculate the standard error (SE)
                standard_error = std_dev / np.sqrt(n)

                # Get the CAR value (removing percentage sign and converting to decimal)
                car_value = float(car_results.loc[car_results['Bank'] == bank, label].str.rstrip('%')) / 100

                # Calculate the t-statistic
                t_stat = car_value / standard_error

                # Annotate CAR value with significance markers based on different levels
                annotation = ""
                for alpha, marker in zip(alpha_levels, markers):
                    # Calculate the critical t-value for a two-tailed test
                    critical_value = t.ppf(1 - alpha / 2, df=n - 1)

                    # Determine if the t-statistic is greater than the critical value (significant)
                    if abs(t_stat) > critical_value:
                        annotation = marker
                        break  # Break at the highest significance level

                # Update the CAR value in the copy with the appropriate significance marker
                if annotation:
                    current_value = car_results_copy.loc[car_results_copy['Bank'] == bank, label].values[0]
                    car_results_copy.loc[car_results_copy['Bank'] == bank, label] = f"{current_value}{annotation}"
            else:
                # Detailed message for skipping due to insufficient data or zero variance
                if n <= 1:
                    print(f"Not enough observations for bank {bank} in window {label}. Skipping t-test.")
                elif std_dev == 0:
                    print(f"Zero variance for bank {bank} in window {label}. Skipping t-test.")
        else:
            print(f"No data available for bank {bank} in window {label}. Skipping t-test.")

# Display the annotated CAR results with significance markers
print("CAR Results with Significance Annotations:")
print(car_results_copy)

CAR Results with Significance Annotations:
         Bank CAR [-1,+1] CAR [-1,+3] CAR [0,+1]
0         EBS       5.85%       5.62%      1.28%
1      OBS.VI    -1.50%**   -4.15%***     -0.87%
2      RBI.VI       2.74%       1.18%     -2.31%
3     ARLN.HM       1.28%     8.32%**      8.49%
4      CBK.DE       2.21%      3.05%*     -0.57%
5      PBB.BE    -2.37%**      -0.48%     -1.23%
6      MBK.DE      -1.18%      -2.65%      0.42%
7     BBVA.MC      -0.52%      -0.52%     -1.12%
8     UNIE.XC    12.14%**     7.86%**   11.66%**
9    AKTIA.HE     3.75%**    8.16%***      2.44%
10  NDA-SE.ST       2.23%    7.15%***      0.93%
11   OMASP.HE       0.19%       1.13%     -4.11%
12     BNP.PA       4.03%       2.85%      0.68%
13     CCN.PA      3.92%*    3.33%***      4.12%
14     LLOY.L      -1.69%  -13.78%***     -4.25%
15     MTRO.L       0.32%      -2.32%     -5.30%
16      STB.L      14.98%    17.61%**     19.48%
17     STAN.L       2.32%      -1.22%      1.00%
18    TATT.AT       6.47%    9.62%***      0.79%
19    BIRG.IR       2.65%       2.05%     -4.64%
20   ARION.IC       7.87%    9.39%***      4.67%
21     BGN.MI     5.84%**   11.78%***     2.13%*
22    BMED.MI       1.69%      3.61%*     -3.73%
23     BDB.MI       1.22%     4.30%**      1.69%
24     FBK.MI       8.73%   10.83%***      0.08%
25    ILTY.MI      2.07%*    7.91%***      0.41%
26     ISP.MI       0.20%     4.21%**     -0.58%
27     UCG.MI      -2.47%      -1.82%     -1.22%
28     ABN.AS      -5.70%      -2.87%     -2.45%
29     VLK.AS      -3.23%       0.23%     -4.05%
30     AZA.ST      5.83%*   12.66%***      6.24%
31    HOFI.ST       3.74%   14.89%***     -2.29%
32   SEB-A.ST      -0.46%    3.09%***      0.99%
33   SHB-A.ST      -3.70%       3.56%     -3.33%
34  TFBANK.ST   -4.22%***       1.26%     -2.47%
35     NLB.IL    13.96%**   26.61%***    11.69%*

In [19]:
# output_file_path = './3factor_CAR_Results_250_stoxx.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path

In [20]:
# output_file_path = './3factor_CAR_Results_250_sp.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path

In [21]:
output_file_path = './3factor_CAR_Results_63_stoxx.xlsx'
car_results_copy.to_excel(output_file_path, index=False)

output_file_path

'./3factor_CAR_Results_63_stoxx.xlsx'

In [22]:
# output_file_path = './3factor_CAR_Results_63_sp.xlsx'
# car_results_copy.to_excel(output_file_path, index=False)

# output_file_path